.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 86vh;
    background-color: #333;
}
.button {
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    width: 250px;
    height: 150px;
    background-color: rgb(0, 128, 168);
    
}